<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Eat-Da-Burger!</title>
	<!--jQuery-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!--Custom JS-->
	<script src="/assets/js/app.js"></script>
	<!--FONTS-->
	<link href="https://fonts.googleapis.com/css?family=Architects+Daughter|PT+Sans+Narrow:700" rel="stylesheet">
	<!--Custom Styles-->
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<!--Favicon-->
	<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />
</head>

<body>
	<div class="title">
		<div class="title__inner">
			<h1>EAT-DA-BURGER!</h1>
		</div>
	</div>
	<!--here is where the rest of the handlebars will get rendered-->
	{{{ body }}}
<footer>
	<div class="footer-content">Î
		&copy; copyright 2018 Kate Christian | <a href="https://k8xian.github.io" target="_blank">Portfolio</a>
	</div>
</footer>
</body>

</html>